@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("react-toastify/dist/ReactToastify.css");
@layer base {
  button {
    padding: 0.9375rem 2rem;
    border-radius: 0.625rem;
    text-align: center;
    text-decoration: none;
    display: block;
  }

  section {
    padding: 3.75rem 0;
  }
}

@layer utilities {
  .sad {
    @apply bg-rose-900 text-slate-100;

    &.btn {
      @apply bg-yellow-600  text-slate-100 hover:bg-yellow-500;
    }
  }
  .happy {
    @apply bg-emerald-600 text-slate-100;

    &.btn {
      @apply bg-slate-200  text-slate-700 hover:bg-slate-100;
    }
  }
  .neutral {
    @apply bg-gray-100 text-slate-700;
    &.btn {
      @apply bg-gradient-to-r from-sky-400 to-emerald-600 text-slate-100 hover:bg-gradient-to-r hover:from-emerald-700 hover:to-sky-500;
    }
  }
}
