@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("react-toastify/dist/ReactToastify.css");

@layer base {
  :root {
    --svgHappy: #5b45b6;
    --svgHappyHover: #795fe3;
    --svgSad: #c38c00;
    --svgSadHover: #ffd438;
    --svgNeutral: #10b981;
    --svgNeutralHover: #36bbf2;
    --font-heading: Verdana, Arial, sans-serif;
    --font-body: Georgia, "Times New Roman", serif;
  }

  html {
    font-weight: 300;
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    font-weight: 600;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  a {
    display: inline-block;
  }
  img {
    display: block;
    width: 100%;
  }

  button {
    padding: 0.9375rem 2rem;
    border-radius: 0.625rem;
    text-align: center;
    text-decoration: none;
    display: block;
  }

  section {
    padding: 3.75rem 0;
  }
}

@layer utilities {
  .heroHome {
    &.bg {
      @apply bg-gradient-to-b  from-emerald-500 from-0% via-50% via-[#ffca1a] to-70% to-[#ffca1a00];
    }
  }
  .sad {
    &.bg {
      @apply bg-gradient-to-r  from-rose-500 from-0% via-10% via-rose-700 to-100% to-[#f07510bc] text-slate-100;
    }

    &.btn {
      @apply bg-yellow-600  text-slate-100 hover:bg-yellow-500;
    }

    &.link {
      @apply text-yellow-600 flex items-center gap-2 py-4 transition-colors duration-300 hover:text-yellow-500  focus:outline-none focus-visible:outline-none lg:px-8 underline;
    }

    &.link-active {
      @apply text-emerald-500;
    }

    &.secondary-link {
      @apply py-3 hover:text-yellow-500;
    }
  }
  .happy {
    &.bg {
      @apply bg-gradient-to-r  from-emerald-500 from-0% via-10% via-emerald-600 to-100% to-[#ffca1a] text-slate-100;
    }

    &.btn {
      @apply bg-violet-700  text-slate-100 hover:bg-violet-500;
    }

    &.link {
      @apply text-violet-700 first-line:flex items-center gap-2 py-4 transition-colors duration-300 hover:text-violet-600  focus:outline-none focus-visible:outline-none lg:px-8 underline;
    }

    &.link-active {
      @apply text-emerald-500;
    }

    &.secondary-link {
      @apply py-3 hover:text-sky-400;
    }
  }
  .neutral {
    &.bg {
      @apply bg-gradient-to-r  from-gray-100 from-0% via-10% via-gray-300 to-100% to-[#e4e4e4] text-slate-800;
    }

    &.btn {
      @apply bg-gradient-to-r from-sky-400 to-emerald-600 text-slate-100 hover:bg-gradient-to-r hover:from-emerald-700 hover:to-sky-500;
    }

    &.link {
      @apply text-sky-500 first-line:flex items-center gap-2 py-4 transition-colors duration-300 hover:text-sky-400  focus:outline-none focus-visible:outline-none lg:px-8 underline underline-offset-8;
    }

    &.link-active {
      @apply text-emerald-500;
    }

    &.secondary-link {
      @apply py-3 hover:text-emerald-500;
    }
  }
}
